.footer{
    background-color: var(--job-PR);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 20px 122px;
}
.footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.footer-brand-section{
    width: 300px;
    margin-bottom: 10px;
}
.brand-image-wrapper{
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
}
.brand-image-wrapper img{
    width: 100%;
    height: 100%;
}
.footer-brand-section span{
    color: var(--job-WH);
    font-size: 14px;
    font-weight: 100;
}
.footer-quicklinks{
    color: var(--job-WH);
    margin-bottom: 10px;
}
.footer-quicklinks h5{
    margin-bottom: 10px;
}
.footer-quicklinks-list li{
    list-style: none;
}
.quicklink-links{
    color: var(--job-WH);
    font-size: 14px;
    font-weight: 100;
}
.footer-company-section{
    color: var(--job-WH);
}
.footer-company-section h5{
    margin-bottom: 10px;
}
.footer-company-section li{
    list-style: none;
}
.company-links{
    color: var(--job-WH);
    font-size: 14px;
    font-weight: 100;
}
.footer-newsletter{
    width: 300px;
}
.footer-newsletter span{
    font-size: 14px;
    font-weight: 100;
    color: var(--job-WH);
}
.form-container input{
    background-color: transparent;
    outline: none;
    border: 1px solid var(--job-WH);
    padding: 10px;
    color: var(--job-WH);
}

.form-container button{
    background-color: var(--job-BL);
    color: var(--job-WH);
    padding: 10px 20px;
    border: 1px solid var(--job-BL);
}
hr{
    width: 100%;
    color: var(--job-GR);
    margin-bottom: 10px;
}
.footer-socials{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer-socials p{
    font-size: 14px;
    font-weight: 100;
    color: var(--job-SC);
}
.social-icons{
    display: flex;
    gap: 10px;
}
.social-icon-container{
    padding: 3px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:1024px) {
    .footer{
        padding: 20px 40px;
    }
    .footer-brand-section{
        width: 250px;
    }
}
@media (max-width:820px) {
    .footer-brand-section{
        width: 200px;
    }
    .footer-newsletter{
        width: 200px;
    }
}
@media (max-width:768px) {
    .footer-brand-section{
        width: 200px;
    }
    .footer-newsletter{
        width: 150px;
    }
}
@media (max-width:440px) {
    .footer-socials{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
    }
}